#user{
	overflow: hidden;
	nav{

		height: 40px;
		background: #fff;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		img{
			width: 50%;
		}
		div{
			flex: 1;
			text-align: center;
			line-height: 40px;
			font-weight: bold;
		}
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
			width: 40px;
			line-height: 40px;
		}
	}
	div.log{
		margin: 10px;
		background: #fff;
		ul{
			height: 40px;
			display:flex; 
			line-height: 40px;

			li{
				flex: 1;
				text-align: center;
			}
		}
		div{
			div{
				
				height: 40px;
				margin: 10px;
				border-bottom: 1px solid #f5f5f5;
				input{
					height: 40px;
					border: 0;
					outline: none;

				}
				button{
					height: 40px;
					border: 0;
					background: #fff;
					float: right;
					outline: none;

				}
			}
		}

	}
	div.sub{
			margin: 10px;
			button{
				width: 100%;
				height: 40px;
				border: 0;
				margin-left: 0;
				background: #FFD444;
				outline: none;

			}
		}
	
}
.change{
	border-bottom: 3px solid #000;
}
.hide{
	display: none;
}
.out{
	display: block;
}